In [1]:
sc

In [2]:
sqlContext

In [3]:
hello = ["hello", "spark", "at", "spjain"]

In [4]:
rdd = sc.parallelize(hello)

In [5]:
rdd

ParallelCollectionRDD[0] at parallelize at PythonRDD.scala:423

In [6]:
rdd.first()

'hello'

In [7]:
rdd.take(3)

['hello', 'spark', 'at']

In [9]:
rdd.takeSample(False, 3)

['spjain', 'hello', 'spark']

In [10]:
rdd.count()

4

In [11]:
rdd.collect()

['hello', 'spark', 'at', 'spjain']

In [2]:
birdstrikes = sc.textFile("file:///home/bigdata/training/datasets/birdstrikes.csv")

In [47]:
ttt = sc.textFile("file:///home/bigdata/training/datasets/birdstrikes.cst")

In [49]:
filtered_ttt = ttt.filter(lambda x: 'id,' in x)

In [50]:
filtered_ttt.count()

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.collectAndServe.
: org.apache.hadoop.mapred.InvalidInputException: Input path does not exist: file:/home/bigdata/training/datasets/birdstrikes.cst
	at org.apache.hadoop.mapred.FileInputFormat.singleThreadedListStatus(FileInputFormat.java:287)
	at org.apache.hadoop.mapred.FileInputFormat.listStatus(FileInputFormat.java:229)
	at org.apache.hadoop.mapred.FileInputFormat.getSplits(FileInputFormat.java:315)
	at org.apache.spark.rdd.HadoopRDD.getPartitions(HadoopRDD.scala:199)
	at org.apache.spark.rdd.RDD$$anonfun$partitions$2.apply(RDD.scala:239)
	at org.apache.spark.rdd.RDD$$anonfun$partitions$2.apply(RDD.scala:237)
	at scala.Option.getOrElse(Option.scala:120)
	at org.apache.spark.rdd.RDD.partitions(RDD.scala:237)
	at org.apache.spark.rdd.MapPartitionsRDD.getPartitions(MapPartitionsRDD.scala:35)
	at org.apache.spark.rdd.RDD$$anonfun$partitions$2.apply(RDD.scala:239)
	at org.apache.spark.rdd.RDD$$anonfun$partitions$2.apply(RDD.scala:237)
	at scala.Option.getOrElse(Option.scala:120)
	at org.apache.spark.rdd.RDD.partitions(RDD.scala:237)
	at org.apache.spark.api.python.PythonRDD.getPartitions(PythonRDD.scala:58)
	at org.apache.spark.rdd.RDD$$anonfun$partitions$2.apply(RDD.scala:239)
	at org.apache.spark.rdd.RDD$$anonfun$partitions$2.apply(RDD.scala:237)
	at scala.Option.getOrElse(Option.scala:120)
	at org.apache.spark.rdd.RDD.partitions(RDD.scala:237)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1929)
	at org.apache.spark.rdd.RDD$$anonfun$collect$1.apply(RDD.scala:927)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:150)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:111)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:316)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:926)
	at org.apache.spark.api.python.PythonRDD$.collectAndServe(PythonRDD.scala:405)
	at org.apache.spark.api.python.PythonRDD.collectAndServe(PythonRDD.scala)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:57)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:606)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:231)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:381)
	at py4j.Gateway.invoke(Gateway.java:259)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:133)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:209)
	at java.lang.Thread.run(Thread.java:745)

In [ ]:
birdstrikes.collect()

In [16]:
birdstrikes.getNumPartitions()

1

In [17]:
birdstrikes.take(5)

[u'id,aircraft,flight_date,damage,airline,state,phase_of_flight,reported_date,bird_size,cost,feet_above_ground',
 u'2,Airplane,2000-01-01,No damage,CONTINENTAL AIRLINES,New Jersey,Take-off run,,Medium,0,0',
 u'3,Airplane,2000-01-01,No damage,UNITED AIRLINES,,,,Medium,0,',
 u'4,Airplane,2000-01-01,No damage,UNITED AIRLINES,Colorado,Climb,,Medium,0,',
 u'5,Airplane,2000-01-01,No damage,UNITED AIRLINES,Illinois,Approach,,Medium,0,']

In [3]:
birdstrikes.repartition(5)

MapPartitionsRDD[5] at repartition at NativeMethodAccessorImpl.java:-2

In [19]:
birdstrikes.getNumPartitions()

1

In [4]:
newrdd = birdstrikes.repartition(5)

In [21]:
newrdd.getNumPartitions()

5

In [22]:
newrdd.take(5)

[u'5,Airplane,2000-01-01,No damage,UNITED AIRLINES,Illinois,Approach,,Medium,0,',
 u'11,Airplane,2000-01-02,No damage,UNITED AIRLINES,California,Take-off run,,Small,0,0',
 u'17,Airplane,2000-01-03,No damage,SOUTHWEST AIRLINES,Texas,Climb,,Medium,0,',
 u'22,Airplane,2000-01-04,No damage,SOUTHWEST AIRLINES,Maryland,Climb,,Medium,0,50',
 u'27,Airplane,2000-01-04,No damage,CONTINENTAL AIRLINES,Louisiana,Approach,2000-01-04,Small,0,100']

In [23]:
newrdd.count()

99405

In [26]:
h = "id,aircfraft,..."
nohead = "12,Airplane"

In [27]:
nohead.startswith("id,")

False

In [34]:
def is_not_header(row):
    if row.startswith("id,"):
        return False
    else:
        return True

In [35]:
rows = newrdd.filter(is_not_header)

In [36]:
newrdd.count()

99405

In [37]:
rows.count()

99404

In [38]:
def is_not_header_2(row):
    return not row.startswith("id,")

In [39]:
lambda row: not row.startswith("id,")

In [5]:
rows = newrdd.filter(lambda x: not x.startswith("id,") )

In [43]:
rows2.count()

99404

In [44]:
rows.count()

99404

In [45]:
rows.filter(lambda row: "Medium" in row).count()

32928

In [46]:
rows.filter(lambda row: "Medium" in row).take(5)

[u'5,Airplane,2000-01-01,No damage,UNITED AIRLINES,Illinois,Approach,,Medium,0,',
 u'17,Airplane,2000-01-03,No damage,SOUTHWEST AIRLINES,Texas,Climb,,Medium,0,',
 u'22,Airplane,2000-01-04,No damage,SOUTHWEST AIRLINES,Maryland,Climb,,Medium,0,50',
 u'33,Airplane,2000-01-05,No damage,DELTA AIR LINES,Ohio,Take-off run,2000-01-05,Medium,0,0',
 u'51,Airplane,2000-01-08,No damage,HORIZON AIR,Oregon,Approach,,Medium,0,300']

In [6]:
calrows = rows.filter(lambda row: "California" in row)

In [11]:
calrows = calrows.cache().ipynb_checkpoints/

In [12]:
calrows.count()

7803

In [13]:
calrows.take(5)

[u'11,Airplane,2000-01-02,No damage,UNITED AIRLINES,California,Take-off run,,Small,0,0',
 u'130,Airplane,2000-01-17,No damage,AMERICAN AIRLINES,California,Climb,2000-01-17,Small,0,2000',
 u'213,Airplane,2000-01-31,No damage,EXECUTIVE JET AVIATION,California,Climb,,Small,148178,300',
 u'231,Airplane,2000-02-03,No damage,FEDEX EXPRESS,California,En Route,2000-02-03,Small,0,700',
 u'236,Airplane,2000-02-04,No damage,AMERICAN AIRLINES,California,Climb,,Small,0,50']

In [14]:
smallair = rows.filter(lambda x: 'Small' in x).filter(lambda x: 'Airplane' in x).cache()

In [17]:
rows.filter(lambda x: 'Small' in x and 'Airplane' in x).cache().count()

30875

In [25]:
states = rows.map(lambda x: x.split(',')[5] )

In [27]:
airlines = rows.map(lambda x: x.split(',')[4])

In [29]:
d_airlines = airlines.distinct()

In [30]:
d_airlines.take(10)

[u'CHAMPION AIR',
 u'COPA AIRLINES',
 u'BUSINESS',
 u'AMERICAN JET INTL',
 u'MOKULELE AIRLINES',
 u'BOSTON-MAINE AIRWAYS',
 u'GOJET AIRLINES',
 u'FREIGHT RUNNERS EXPRESS',
 u'LEGEND AIRLINES',
 u'AIR WISCONSIN AIRLINES']

In [31]:
d_airlines.count()

372

In [36]:
costs = rows.map(lambda x: x.split(',')[10]).filter(lambda x: x != '')

In [38]:
costs_num = costs.map(lambda x: int(x))

In [40]:
costs.take(5)

[u'0', u'50', u'100', u'0', u'0']

In [39]:
costs_num.take(5)

[0, 50, 100, 0, 0]

In [41]:
costs_num.reduce(lambda x, y: x + y)

47396697

In [43]:
costs_num.reduce(lambda x, y: max(x,y))

31300

PairRDDs

In [44]:
rows.take(5)

[u'5,Airplane,2000-01-01,No damage,UNITED AIRLINES,Illinois,Approach,,Medium,0,',
 u'11,Airplane,2000-01-02,No damage,UNITED AIRLINES,California,Take-off run,,Small,0,0',
 u'17,Airplane,2000-01-03,No damage,SOUTHWEST AIRLINES,Texas,Climb,,Medium,0,',
 u'22,Airplane,2000-01-04,No damage,SOUTHWEST AIRLINES,Maryland,Climb,,Medium,0,50',
 u'27,Airplane,2000-01-04,No damage,CONTINENTAL AIRLINES,Louisiana,Approach,2000-01-04,Small,0,100']

In [59]:
tuples = rows.map(lambda x: (x.split(',')[5], x.split(',')[10]) )

In [60]:
tuples.take(2)

[(u'Illinois', u''), (u'California', u'0')]

In [61]:
cleansed = tuples.filter(lambda x:x[0] != '' and x[1] != '').map(lambda x:(x[0], int(x[1])))

In [62]:
cleansed.take(5)

[(u'California', 0),
 (u'Maryland', 50),
 (u'Louisiana', 100),
 (u'Ohio', 0),
 (u'Georgia', 0)]

In [63]:
cleansed.countByKey()

defaultdict(int,
            {u'Alabama': 605,
             u'Alaska': 358,
             u'Alberta': 25,
             u'Arizona': 744,
             u'Arkansas': 305,
             u'British Columbia': 64,
             u'California': 5059,
             u'Colorado': 2201,
             u'Connecticut': 466,
             u'DC': 1086,
             u'Delaware': 88,
             u'Florida': 3841,
             u'Georgia': 954,
             u'Hawaii': 1091,
             u'Idaho': 179,
             u'Illinois': 2245,
             u'Indiana': 950,
             u'Iowa': 467,
             u'Kansas': 253,
             u'Kentucky': 1651,
             u'Louisiana': 1045,
             u'Maine': 172,
             u'Manitoba': 6,
             u'Maryland': 737,
             u'Massachusetts': 816,
             u'Michigan': 1409,
             u'Minnesota': 727,
             u'Mississippi': 327,
             u'Missouri': 1549,
             u'Montana': 130,
             u'Nebraska': 659,
             u'Nevada': 304,
             u'New Hampshire': 274,
             u'New Jersey': 1234,
             u'New Mexico': 231,
             u'New York': 2787,
             u'Newfoundland and Labrador': 4,
             u'North Carolina': 1184,
             u'North Dakota': 219,
             u'Nova Scotia': 3,
             u'Ohio': 1690,
             u'Oklahoma': 454,
             u'Ontario': 80,
             u'Oregon': 769,
             u'Pennsylvania': 1957,
             u'Prince Edward Island': 117,
             u'Puerto Rico': 153,
             u'Quebec': 24,
             u'Rhode Island': 248,
             u'Saskatchewan': 3,
             u'South Carolina': 517,
             u'South Dakota': 153,
             u'Tennessee': 2474,
             u'Texas': 4954,
             u'Utah': 801,
             u'Vermont': 70,
             u'Virgin Islands': 76,
             u'Virginia': 689,
             u'Washington': 745,
             u'West Virginia': 202,
             u'Wisconsin': 636,
             u'Wyoming': 97})

In [54]:
cleansed.reduceByKey(lambda x, y: x + y).collect()

[(u'Small', 16303235), (u'Large', 4434569), (u'Medium', 22162578)]

In [64]:
df = cleansed.toDF(['state', 'cost'])

In [65]:
df.take(5)

[Row(state=u'California', cost=0),
 Row(state=u'Maryland', cost=50),
 Row(state=u'Louisiana', cost=100),
 Row(state=u'Ohio', cost=0),
 Row(state=u'Georgia', cost=0)]

In [66]:
df.toPandas()

                state  cost
0          California     0
1            Maryland    50
2           Louisiana   100
3                Ohio     0
4             Georgia     0
5            New York     0
6              Oregon   300
7             Florida   800
8              Nevada   700
9            New York   150
10               Ohio     0
11          Tennessee     0
12     South Carolina  1300
13      Massachusetts     0
14            Florida     3
15        Connecticut    50
16           New York     0
17             Oregon     0
18         California  2000
19            Alabama  2000
20             Oregon     0
21         Washington   400
22             Alaska    50
23              Texas   500
24              Texas    50
25           New York     0
26             Alaska   300
27         California   300
28           Missouri   500
29            Florida     0
...               ...   ...
53328           Texas     0
53329        New York     0
53330      California  6000
53331        Colorado     0
53332        Colorado     0
53333        Colorado     0
53334  South Carolina     0
53335        Michigan     0
53336        Kentucky     0
53337        Kentucky     0
53338       Louisiana     0
53339          Kansas     0
53340         Alabama   500
53341        New York     0
53342     Mississippi   500
53343        Michigan     0
53344       Louisiana     0
53345           Texas     0
53346         Alabama  6000
53347         Indiana   800
53348           Texas  6000
53349     Mississippi   100
53350  South Carolina     0
53351           Texas   400
53352           Texas  1200
53353           Texas     0
53354           Texas     0
53355      California     0
53356           Texas  1300
53357         Florida     0

[53358 rows x 2 columns]

In [67]:
df.registerTempTable("state_costs")

In [68]:
sums = sqlContext.sql("SELECT state, SUM(cost) AS totalcost FROM state_costs GROUP BY state")

In [69]:
sums

DataFrame[state: string, totalcost: bigint]

In [70]:
sums.show()

+--------------+---------+
|         state|totalcost|
+--------------+---------+
|         Idaho|   110332|
|      Michigan|   419783|
|         Texas|  5060797|
|Virgin Islands|     8365|
| West Virginia|   104675|
|       Alberta|    14453|
|     Louisiana|   658076|
|        Quebec|    30130|
|      Manitoba|     5175|
|   Puerto Rico|    29653|
|   Connecticut|   221590|
|       Florida|  2748278|
|      Arkansas|   277028|
|  North Dakota|   132495|
|       Montana|    69009|
|     Wisconsin|   314542|
|        Kansas|   221739|
|       Wyoming|    42458|
|  Pennsylvania|  1526396|
|        Hawaii|    82946|
+--------------+---------+
only showing top 20 rows